<!doctype html>
<html lang="es" class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Buscador Artículos - MonteSanto.cl'</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title">Resultados Búsqueda</p>
                </div>
            </div>
            <div class="level-right">
            </div>
        </nav>
        <form class="box" th:action="@{/Articulo/Busqueda}" th:method="post">
            <div class="columns">
                <div class="column is-2">
                    <div class="field">
                        <label for="autor" class="label">Autor</label>
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="autor" id="autor">
                                    <option value="0">-- TODOS --</option>
                                    <option th:each="autor : ${Autores}" th:value="${autor}" th:text="${autor}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label for="tipo" class="label">Tipos</label>
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="tipo" id="tipo">
                                    <option value="0">-- TODOS --</option>
                                    <option th:each="tipo : ${Tipos}" th:value="${tipo.getId()}" th:text="${tipo.getDescripcion()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label for="etiqueta" class="label">Etiquetas</label>
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="etiqueta" id="etiqueta">
                                    <option value="0">-- TODAS --</option>
                                    <option th:each="etiqueta : ${Etiquetas}" th:value="${etiqueta}" th:text="${etiqueta}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="termino" class="label">Término</label>
                        <div class="control is-expanded">
                            <input class="input" name="termino" id="termino" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="button is-primary" type="submit">
                        <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span>Buscar</span>
                    </button>
                </div>
            </div>
        </form>
        <hr />
        <article class="media box" th:each="articulo : ${Resultado}">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img th:src="'/img/miembros/' + ${articulo.getPublicador().getId()} + '.png'">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <div>
                        <strong th:text="${articulo.getTitulo()}"></strong> &nbsp;
                        <small th:text="${articulo.getPublicador().getNombreUsuario()}"></small> &nbsp;
                        <span th:utext="${articulo.getTipo().getTag()}"></span> &nbsp;
                        <span class="tag is-info" th:text="${articulo.getArticuloAt()}"></span>
                        <div th:if="${!articulo.getIntroduccion().isEmpty()}">
                            <hr>
                            <p th:utext="${articulo.getIntroduccionSaltos()}"></p>
                        </div>
                        <div class="pt-4 pb-4">
                            <a th:href="@{/Articulo/Etiqueta/{etiqueta}(etiqueta=${etiqueta})}" th:each="etiqueta : ${articulo.getEtiquetas()}">
                                <span class="tag is-info" th:text="${etiqueta}"></span>
                            </a>
                        </div>
                        <a class="button is-info is-outlined" th:href="@{/Articulo/{path}(path=${articulo.getId()})}">Seguir Leyendo...</a>
                    </div>
                </div>
            </div>
            <div class="media-right"></div>
        </article>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>