<!doctype html>
<html lang="es" class="has-navbar-fixed-top"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>MonteSanto.cl</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <section class="hero is-info">
            <div class="hero-body">
                <p class="title">
                    Bienvenido a la Página Web de Monte Santo!
                </p>
                <p class="subtitle">
                    Seguimos desarrollando el ambiente, pero puedes leer y comentar los artículos publicados.
                </p>
            </div>
        </section>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>